@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'
$primary-color: #96E072

#root 
  width: 100%
  margin: 0 auto
  padding: 2rem
  text-align: center

  

body 
  font-family: 'Inter'
  font-style: italic
  font-weight: 100 900
  font-display: swap
  background-color: $primary-color
  color: black

a
  text-decoration: none
  color: black
  font-weight: 1000
  font-size: 20px

img 
  width: 20%

.flex-container 
  display: flex
  align-items: center
  justify-content: center

.container 
  background-color: white 
  border-radius: 25px
  border: solid 2px black
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 20px



.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 10px 0
  ul 
    list-style: none
    margin: 0
    padding: 0
    display: flex
    background-color: white
    li 
        margin: 0 15px
        font-weight: 600
      
.buttons 
  display: flex
  justify-content: space-between
  padding-top: 16px

