@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'


#root 
  width: 100%
  margin: 0 auto
  padding: 2rem
  text-align: center

body 
  font-family: 'Inter' , 'sans-serif'
  font-weight: 100 900
  font-display: swap
  color: #35462B

a
  text-decoration: none
  color: #F8F9F5
  

img 
  width: 20%
  border: 2px solid black 
  border-radius: 25px

.flex-container 
  display: flex
  align-items: center
  justify-content: center

.container 
  background-color: #B1B5A5
  border-radius: 25px
  border: solid 2px black
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 20px
  box-shadow: 5px 5px 10px #1f3719

.container-sign
  background-color: #B1B5A5
  border-radius: 25px
  border: solid 2px black
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 20px
  width: fit-content
  padding: 10px
  box-shadow: 5px 5px 10px #1f3719

.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  ul 
  padding: 0
  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    div
      li
        margin: 0 15px
        font-weight: 600
      
.buttons 
  display: flex
  justify-content: space-between
  padding-top: 16px
  padding-bottom: 16px
  margin-bottom: 16px
  margin-right: 5px

.buttons1
  display: flex
  justify-content: space-between
  padding-top: 16px
  padding-bottom: 16px
  margin-bottom: 16px
  margin-right: 5px
  margin-left: 10px


span 
  display: flex
  justify-content: left

.Bold
  font-weight: bolder
